<div class='border-bottom row' style="margin-bottom:16px;padding-bottom:15px"> 
  <div>
  <h4 style="margin-bottom:4px;text-transform:uppercase">
    {{patient['p_name']}} 
  </h4>
  <div><b>Age:</b>{{patient['age']}}</div>
  <div><b>Date:</b>{{patient['p_date']}}</div>
  <div><b>Time:</b>{{patient['p_time']}}</div>
  <div><b>Room Temperature:</b>{{patient['room_temperature']}}</div>
  <div><b>Room Humidity:</b>{{patient['room_humidity']}}</div>
  <div><b>Pulse Rate:</b>{{patient['pulse_rate']}}</div>
  <div><b>SPO2:</b>{{patient['body_temperature']}}</div>
  </div>
  
</div>